.rapSheetTrait {
  width: 100%;
  position: relative;
  margin: 10px 0px 10px 0px;
}



.traitName {
  width: 60%;
  float: left;
  font-weight: bold;
}

.traitPhase {
  margin-left: 40%;
  text-align: right;
}

.traitHeader {
  position: relative;
}

.pageNo {
  text-align: right;
}
