.crews {
  font-family: 'Teko', fantasy;
}

h2 {
  font-family: 'Teko', fantasy;
}

#rap-sheet-footer {
  background-color: black;
  color: white;
}

.character-area {
  background-color: grey;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.whatsthisquestionmark {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 30px;
}

.characters {
  -webkit-flex: 2;
  flex: 2;
  margin-right: 0px;
  height: 100%;
}

.crewStats {
  -webkit-flex: 1;
  flex: 1;
  min-width: 108px;
  background-color: rgb(225, 225, 225);
  overflow: auto;
}
