.crews {
  font-family: 'Teko', sans-serif
}

#rap-sheet-footer {
  background-color: black;
  color: white;
}

.character-area {
  background-color: grey;
}

.clear-left {
  clear: left;
}

.whatsthisquestionmark {
  height: 100%;
  width: 100%;
  martin-top: 30px;
}

.characters {
  width: 70%;
  margin-right: 0px;
  float: left;
  height: 100%;
}

.crewStats {
  width: 30%;
  float: right;
  height: 100%;
}
