.charPane {
  max-height: 500px;
  height: 70%;
  width: 100%;
  overflow-y: scroll;
}

@media screen and (min-width:550px) {
  .leftPane {
    float: left;
    width: 50%;
    min-width: 200px;
  }

  .rightPane {
    float: right;
    width: 50%;
    min-width: 200px;
  }
}

@media screen and (max-width:549px) {
  .leftPane {
    width: 100%;
    display: inline;
  }

  .rightPane {
    width: 100%;
    display: inline;
  }
}

.weaponCell, .weaponRow {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
}

.weaponTable {
  width: 100%;
}

.weaponHeader {
  text-align: center;
}

.labelField {
  font-weight: bold;
  padding-right: 5px;
}
