.character-box {
  position: relative;
  background-color: black;
  color: white;
  width: 80px;
  height: 100px;
  font-size: 75%;
  float: left;
  margin: 1em;
  border: solid 1px black;
}

.character-alias {
  font-weight: bold;
}

.character-cost {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 15px;
  width: 100%;
}

.character-rep {
  float: left;
  width: 50%;
}

.character-funding {
  float: right;
  width: 50%;
}

.leader-rank {
  background-color: rgb(178, 118, 0);
  color: white;
}

.sidekick-rank {
  background-color: rgb(112, 101, 61);
  color: white;
}

.free-agent-rank {
  background-color: rgb(0, 41, 101);
  color: white;
}

.henchman-rank {
  background-color: gray;
}

.boss-rank {
  background-color: rgb(255, 250, 55)
}

.optional-rank {
  background-color: rgb(90, 200, 20)
}

.no-rank {
  background-color: rbg(20, 40, 200)
}
