.rapSheet {
  font-family: 'CarbonType';
  font-size: 75%;
  width: 80%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  text-align: left;
  position: relative;
  overflow: auto;
  padding: 12px;
  margin: 10px 0px 10px 0px;
  page-break-inside: avoid;
}

/* I want to properly attribute the CarbonType font, so it is not included
  in the CM for the project. To properly configure the font, do the following:

  1. Go here and download the Webfont Kit:
  https://www.fontsquirrel.com/fonts/CarbonType
  2. Unzip the file into:
  src/resources/fonts

  That should be all to get it rolling.*/
@font-face {
  font-family: 'CarbonType';
  src: url('../../../../resources/fonts/carbontype_regular_macroman/carbontype-webfont.woff')
}

.nameDiv {
  font-weight: bold;
}

.aliasDiv {
  font-weight: bold;
}

.printRapSheet {
  width: 8cm !important;
  height: 10cm !important;
  max-width: 8cm !important;
  max-height: 10cm !important;
  min-height: 10cm !important;
  min-width: 8cm !important;
  font-size: 40%;
  overflow: hidden;
  float: left;
  margin: 5px;
}
