.rapSheet {
  font-family: 'CarbonType';
  font-size: 75%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  text-align: left;
  position: relative;
  overflow: auto;
  padding: 10px;
  margin: 1em;
  page-break-inside: avoid;
}

.nameDiv {
  font-weight: bold;
  font-size: 110%;
}

.aliasDiv {
  font-weight: bold;
  font-size: 110%;
}

.printRapSheet {
  width: 9cm !important;
  height: 11cm !important;
  max-width: 9cm !important;
  max-height: 11cm !important;
  min-height: 11cm !important;
  min-width: 9cm !important;
  font-size: 47%;
  overflow: hidden;
  float: left;
  margin: 2px;
}
