.DS_STORE
*.log

node_modules

coverage

.idea/

tools/characters.js
tools/lib
tools/node_modules
tools/src
tools/targets/*
tools/trait-cleanup/build
tools/trait-cleanup/targets
tools/weapons/build
tools/weapons/targets
