.foundStrategy {
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  background-color: #F0F0F0;
  font-family: 'CarbonType', monospace;
  page-break-inside: avoid;
  font-size: 80%;
  text-align: left;
}

.strategiesStrategyLabel {
  font-weight: 700;
  margin-right: 10px;
}

.strategiesStrategyName {
  font-size: 125%;
}

.strategiesStrategyRule {
  margin: 0px 20px 0px 20px;
}

.strategiesStrategyCostSpan {
  float: right;
}

.strategiesContainer {
  margin-top: 20px;
}

.strategiesStrategyPhaseSpan {
  float: right;
}
