#strategiesCrewSelect {
  float: left;
  vertical-align: middle;
  color: black;
  margin: 5px 0px 15px 5px;
  font-family: 'Cuprum', sans-serif;
}

.inputLabel {
  padding-right: 10px;
  font-weight: bold;
}
