equipmentTrait {
  width: 100%;
  position: relative;
  margin: 2px 30px 2px 30px;
}

.equipTraitName {
  width: 60%;
  float: left;
  font-weight: bold;
}

.equipTraitPhase {
  margin-left: 40%;
  text-align: right;
}

.equipTraitHeader {
  position: relative;
}

.equipTraitPageNo {
  text-align: right;
}
