.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.app-header {
  width: inherit;
  position: fixed;
  max-height: 30px;
  height: 30px;
  background-color: black;
  color: white;
  z-index: 2;
}

.welcome-message {
  font-family: 'Teko', fantasy;
  font-size: 1.1em;
}

@media (max-width: 749px) {
  .app-header { width: 100%; }
}
